.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
  color: #000000;
}

.two-columns__paragraph:nth-child(2) {
  margin-top: 30px;
  margin-bottom: 30px;
}
